MEMORY
{
   RAM1:  start = $2fea, size = $16, fill = no;
   RAM2:  start = $3000, size = $1000, fill = no;
}

SEGMENTS
{
   HEADER:  load = RAM1, type = ro;
   CODE:    load = RAM2, type = ro;
}
