NET "fastclk"       IOSTANDARD = LVCMOS33 ;
NET "h_phi2"        IOSTANDARD = LVCMOS33 ;

NET "fastclk" TNM_NET = fastclk;
TIMESPEC TS_fastclk = PERIOD "fastclk" 31.25 ns HIGH 50%;
NET "h_phi2" TNM_NET = h_phi2;
TIMESPEC TS_h_phi2 = PERIOD "h_phi2" 500 ns HIGH 50%;

PIN "inst_dcm/CLKFX_BUFG_INST.O" CLOCK_DEDICATED_ROUTE = FALSE;

NET "h_cs_b"        IOSTANDARD = LVCMOS33 ;
NET "h_rdnw"        IOSTANDARD = LVCMOS33 ;
NET "h_rst_b"       IOSTANDARD = LVCMOS33 ;

NET "h_addr<0>"     IOSTANDARD = LVCMOS33 ;
NET "h_addr<1>"     IOSTANDARD = LVCMOS33 ;
NET "h_addr<2>"     IOSTANDARD = LVCMOS33 ;

NET "h_irq_b"       IOSTANDARD = LVCMOS33 ; # Not connected

NET "h_data<0>"     IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2 ;
NET "h_data<1>"     IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2 ;
NET "h_data<2>"     IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2 ;
NET "h_data<3>"     IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2 ;
NET "h_data<4>"     IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2 ;
NET "h_data<5>"     IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2 ;
NET "h_data<6>"     IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2 ;
NET "h_data<7>"     IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2 ;

NET "ram_cs"        IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2 ;
NET "ram_lb_b"      IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2 ;
NET "ram_oe"        IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2 ;
NET "ram_ub_b"      IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2 ;
NET "ram_wr"        IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2 ;
NET "ram_addr<0>"   IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2 ;
NET "ram_addr<1>"   IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2 ;
NET "ram_addr<2>"   IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2 ;
NET "ram_addr<3>"   IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2 ;
NET "ram_addr<4>"   IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2 ;
NET "ram_addr<5>"   IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2 ;
NET "ram_addr<6>"   IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2 ;
NET "ram_addr<7>"   IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2 ;
NET "ram_addr<8>"   IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2 ;
NET "ram_addr<9>"   IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2 ;
NET "ram_addr<10>"  IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2 ;
NET "ram_addr<11>"  IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2 ;
NET "ram_addr<12>"  IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2 ;
NET "ram_addr<13>"  IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2 ;
NET "ram_addr<14>"  IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2 ;
NET "ram_addr<15>"  IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2 ;
NET "ram_addr<16>"  IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2 ;
NET "ram_addr<17>"  IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2 ;
NET "ram_addr<18>"  IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2 ;
NET "ram_data<0>"   IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2 ;
NET "ram_data<1>"   IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2 ;
NET "ram_data<2>"   IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2 ;
NET "ram_data<3>"   IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2 ;
NET "ram_data<4>"   IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2 ;
NET "ram_data<5>"   IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2 ;
NET "ram_data<6>"   IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2 ;
NET "ram_data<7>"   IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2 ;
NET "ram_data<8>"   IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2 ;
NET "ram_data<9>"   IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2 ;
NET "ram_data<10>"  IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2 ;
NET "ram_data<11>"  IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2 ;
NET "ram_data<12>"  IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2 ;
NET "ram_data<13>"  IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2 ;
NET "ram_data<14>"  IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2 ;
NET "ram_data<15>"  IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2 ;
NET "ram_data<16>"  IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2 ;
NET "ram_data<17>"  IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2 ;
NET "ram_data<18>"  IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2 ;
NET "ram_data<19>"  IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2 ;
NET "ram_data<20>"  IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2 ;
NET "ram_data<21>"  IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2 ;
NET "ram_data<22>"  IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2 ;
NET "ram_data<23>"  IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2 ;
NET "ram_data<24>"  IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2 ;
NET "ram_data<25>"  IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2 ;
NET "ram_data<26>"  IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2 ;
NET "ram_data<27>"  IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2 ;
NET "ram_data<28>"  IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2 ;
NET "ram_data<29>"  IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2 ;
NET "ram_data<30>"  IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2 ;
NET "ram_data<31>"  IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2 ;
NET "test<1>"       IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2 ;
NET "test<2>"       IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2 ;
NET "test<3>"       IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2 ;
NET "test<4>"       IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2 ;
NET "test<5>"       IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2 ;
NET "test<6>"       IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2 ;
NET "test<7>"       IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2 ;
NET "test<8>"       IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2 ;
NET "sw<0>"         IOSTANDARD = LVCMOS33 ;
NET "sw<1>"         IOSTANDARD = LVCMOS33 ;
NET "sw<2>"         IOSTANDARD = LVCMOS33 ;
NET "sw<3>"         IOSTANDARD = LVCMOS33 ;
